@import './reset.scss';
@import './normalize.scss';

body {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 0;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;

    @media screen and (min-width: 992px) {
        padding-top: 100px;
    }
}

@media screen and (min-width: 576px){
    .container {
        width: 540px;
    }
}

@media screen and (min-width: 768px){
    .container {
        width: 720px;
    }
}

@media screen and (min-width: 992px){
    .container {
        width: 960px;
        flex-direction: row;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

.navigation-container {
    margin-top: 15px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    
    &__item {
        padding: 5px;
        border: 1px solid gray;
    }
}

.left {
    padding: 0 15px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 992px){
        width: 58%;
    }
}

.left__main {
    width: 100%;
    height: 345px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 992px){
      height: 564px;
      justify-content: flex-start;
      align-items: flex-start;
    }
}

.left__feed {
}

.feed {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 992px) {
        justify-content: left;
    }
}

.feed__item {
    width: 56px;
    height: 56px;

    @media screen and (min-width: 992px){
        width: 80px;
        height: 80px;
        margin-left: 5px;
    }
}

.feed__img {
    width: 100%;
    height: 100%;
}

.right {
    margin-top: 20px;
    padding: 0 15px;
    box-sizing: border-box;
    width: 100%;
    height: max-content;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    font-family: "Playfair Display";
    font-size: 23px;
    color: #000;

    @media screen and (min-width: 992px) {
        margin-top: inset;
        font-size: 36px;
        width: 41.5%;
    }
}

.img-main {
    width: 214px;
    height: 214px;

    @media screen and(min-width: 501px) {
        width: 512px;
        height: 512px;
    }
}